/* Activity 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.red1 { 
    width: 100%; 
    height: 100px; 
    background-color: red; 
    grid-column: 1 / 3;
} 
.green1, .yellow1 {
    width: 200px;
    height: 200px;
}
.green1 {
    background-color: green;
}
.yellow1 {
    background-color: gold;
}
.blue1 { 
    width: 100%; 
    height: 100px; 
    background-color: blue; 
    grid-column: 1 / 3;
} 

/* Activity 2 styles */
.content2 {
    position: relative;
    width: 300px;
    height: 300px;
}
.red2 { width: 100px; height: 100px; background-color: red; position: absolute; top: 0; left: 0; }
.green2 { width: 100px; height: 100px; background-color: green; position: absolute; top: 50px; left: 50px; }
.yellow2 { width: 100px; height: 100px; background-color: gold; position: absolute; top: 100px; left: 100px; }
.blue2 { width: 100px; height: 100px; background-color: blue; position: absolute; top: 150px; left: 150px; }

/* Activity 3 styles */
.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.red3, .green3, .yellow3, .blue3 {
    width: 100px; height: 100px;
}
.red3 { background-color: red; grid-column: 1 / 2; }
.green3 { background-color: green; grid-column: 2 / 3; }
.yellow3 { background-color: gold; grid-column: 1 / 2; }
.blue3 { background-color: blue; grid-column: 2 / 3; }

/* Activity 4 styles */
.content4 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}
.red4 { background-color: red; grid-column: 1 / 2; grid-row: 1 / 2; }
.green4 { background-color: green; grid-column: 2 / 3; grid-row: 1 / 2; }
.yellow4 { background-color: gold; grid-column: 3 / 4; grid-row: 1 / 2; }
.blue4 { background-color: blue; grid-column: 2 / 4; grid-row: 2 / 3; }

/* Activity 5 styles */
.content5 {
    height: 400px;
}
.red5, .green5, .blue5 {
    width: 100px; height: 100px;
}
.red5 { background-color: red; float: left; margin-right: 10px; }
.green5 { background-color: green; float: left; margin-right: 10px; }
.yellow5 { background-color: gold; float: left; margin-right: 10px; padding: 10px; }
.blue5 { background-color: blue; float: left; margin-right: 10px; }

/* Activity 6 styles */
.content6 {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    position: relative;
}
.red6 { background-color: red; grid-column: 1 / 2; grid-row: 1 / 2; z-index: 1; }
.green6 { background-color: green; grid-column: 2 / 3; grid-row: 1 / 2; z-index: 2; }
.yellow6 { background-color: gold; grid-column: 3 / 4; grid-row: 1 / 2; z-index: 3; }
.blue6 { background-color: blue; grid-column: 2 / 4; grid-row: 2 / 3; z-index: 4; }

/* Do not make any changes below here */
.activity {
    width: 70%; 
    margin: 20px auto; 
    font-family: Arial, sans-serif; 
    border: 1px solid black; 
    padding: 10px; 
    clear:both; 
    overflow: auto;
} 
